body{
  background-color: aliceblue;
  color: black;
  height: 100%;
  width: 100%;
  margin: 0.5% 0 0.5% 0.5%;
}

#title{
  background-color: rgb(192, 198, 204);
  border-radius: 10px;
  padding: 1%;
  margin: 0 1% 1% 0;
  font-family: "orbitron", sans-serif;
  font-weight: 500;
  font-style: normal
}

#main{
  display: flex;
  gap: 1.5%;
  height: 500px;
  margin: 0 1% 1% 1%;
}

#link{
  font-family: "orbitron", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background: #e4ebf2;
  gap: 10px;
  padding: 1%;
  border-radius: 10px;
  height: 100%;
}

#space{
  font-family: "orbitron", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background: #e4ebf2;
  padding: 1%;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.dnd{
  color: gray;
  height: 100%;
  width: 100%;
  background: red;
}

#ydl-check{
  display: flex;
  gap: 2.5%;
  height: 300px;
}

.ydl-check{
  display: flex;
  flex-direction: column;
  gap: 2%;
  color: white;
  background-color: rgb(129, 116, 116);
  border-radius: 10px;
  padding: 1%;
}

a {
  color: rgb(84, 162, 162);
}
a:hover{
  color: rgb(70, 110, 110);
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: rgb(232, 232, 233);
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 2px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #857c7c;
}

.react-tabs__tab-panel {
  display: none;
  height: 100%;
  width: 100%;
}

.react-tabs__tab-panel--selected {
  display: block;
  height: 100%;
  width: 100%;
}