body{
  background-color: aliceblue;
  color: black;
}


#title{
  background-color: rgb(192, 198, 204);
  border-radius: 10px;
  padding: 1%;
  margin: 0 1% 0 0;
  font-family: "orbitron", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#main{
  display: flex;
  gap: 1.5%;
  padding-top: 2%;
  height: 500px;
}

#link{
  font-family: "orbitron", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background: #e4ebf2;
  gap: 10px;
  padding: 1%;
  border-radius: 10px;
}

#space{
  font-family: "orbitron", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background: #e4ebf2;
  padding: 1%;
  border-radius: 10px;
}

a {
  color: rgb(84, 162, 162);
}
a:hover{
  color: rgb(70, 110, 110);
}